/* .clock {
    text-align: center;
    background: rgba(26, 26, 46, 0.8);
    border: 1px solid rgba(110, 58, 255, 0.2);
    border-radius: 8px;
    animation: pulse 2s infinite;
} */
/* .current-date {
    margin: 4px;
    font-size: 30px;
    color: transparent;
    background-clip: text;
    background: linear-gradient(45deg, #6e3aff, #ff3864);
    -webkit-background-clip: text; 
} */


.clock {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
    background: rgba(26, 26, 46, 0.9);
    
    border: 4px solid rgba(110, 58, 255, 0.3);
    
    box-shadow: 0 0 20px rgba(110, 58, 255, 0.2);
    
    margin: 100px auto 0px auto;
    position: relative;
}

.center {
    background: linear-gradient(45deg, #6e3aff, #ff3864); /* Градиент как на кнопке */
    box-shadow: 0 0 10px rgba(255, 56, 100, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
}

.hourHand {
    width: 8px; 
    height: 75px;
    background-color: #ffffff; 
    opacity: 0.9;
    
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -4px; 

    transform-origin: bottom center;
    border-radius: 4px;
    z-index: 10;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    transform: rotate(360deg);
}

.minuteHand {
    width: 4px; 
    height: 120px;
    background-color: #ffffff;
    opacity: 0.8;
    
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -2px; 

    transform-origin: bottom center;
    border-radius: 4px;
    z-index: 9;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    transform: rotate(90deg);
}

.secondHand {
    width: 2px;
    height: 120px;
    background-color: #ff3864; 
    box-shadow: 0 0 5px rgba(255, 56, 100, 0.5); 
    
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -1px;

    transform-origin: bottom center;
    border-radius: 4px;
    transition: all 0.06s cubic-bezier(0.1, 2.7, 0.58, 1);
    z-index: 8;
    transform: rotate(360deg);
}

.clock ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clock ul li {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5); 
    font-family: sans-serif;
}

.clock ul li:nth-child(3), 
.clock ul li:nth-child(6), 
.clock ul li:nth-child(9), 
.clock ul li:nth-child(12)  {
    color: #6e3aff; 
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(110, 58, 255, 0.5);
}

.clock ul li:nth-child(1) { right: 22%; top: 6.5%; }
.clock ul li:nth-child(2) { right: 6%; top: 25%; }
.clock ul li:nth-child(3) { right: 1%; top: calc(50% - 10px); }
.clock ul li:nth-child(4) { right: 6%; top: 69%; }
.clock ul li:nth-child(5) { right: 22%; top: 84%; }
.clock ul li:nth-child(6) { right: calc(50% - 10px); top: calc(98% - 20px); }
.clock ul li:nth-child(7) { left: 22%; top: 84%; }
.clock ul li:nth-child(8) { left: 6%; top: 69%; }
.clock ul li:nth-child(9) { left: 1%; top: calc(50% - 10px); }
.clock ul li:nth-child(10){ left: 6%; top: 25%; }
.clock ul li:nth-child(11){ left: 22%; top: 6.5%; }
.clock ul li:nth-child(12){ right: calc(50% - 10px); top: 1%; }

#to-main-page {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;

    width: 7vw;
    background: linear-gradient(45deg, #6e3aff, #ff3864);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    transform: translateY(0);
    transition: transform 0.3s;
}